In [1]:
import pandas as pd

In [3]:
info_df = pd.read_csv('DogInfo.csv')

In [77]:
df = pd.read_csv('DogMoveData.csv')

In [78]:
df.head()

,DogID,TestNum,t_sec,ABack_x,ABack_y,ABack_z,ANeck_x,ANeck_y,ANeck_z,GBack_x,GBack_y,GBack_z,GNeck_x,GNeck_y,GNeck_z,Task,Behavior_1,Behavior_2,Behavior_3,PointEvent
0,16,1,0.00,0.041504,0.938965,-0.015137,-0.067871,-0.510254,-0.934570,-17.639161,-22.766115,7.446290,-7.934571,6.347657,13.427735,<undefined>,<undefined>,<undefined>,<undefined>,<undefined>
1,16,1,0.01,0.041992,0.941895,-0.020020,-0.128906,-0.494141,-0.913086,-15.075685,-11.413575,4.821778,-3.906250,4.394532,16.540528,<undefined>,Synchronization,<undefined>,<undefined>,<undefined>
2,16,1,0.02,0.040527,0.939453,-0.004395,-0.158691,-0.480469,-0.911133,-12.207032,-0.122070,2.807617,-0.488281,-1.953125,26.794435,<undefined>,Synchronization,<undefined>,<undefined>,<undefined>
3,16,1,0.03,0.021484,0.946289,0.007813,-0.122070,-0.486816,-0.880371,-9.460450,7.995606,1.586914,1.159668,-5.676270,38.085940,<undefined>,Synchronization,<undefined>,<undefined>,<undefined>
4,16,1,0.04,-0.000977,0.951172,0.033691,-0.053711,-0.500000,-0.807129,-8.361817,14.587403,-1.037598,4.577637,4.089356,41.503909,<undefined>,Synchronization,<undefined>,<undefined>,<undefined>

In [81]:
# Filter out rows where TestNum is equal to 2
df_1 = df[df['TestNum'] != 2]
test_counts = df_1['TestNum'].value_counts()
print(test_counts)

TestNum
1    7077556
Name: count, dtype: int64

In [82]:
# Filter the DataFrame to have only observations in Behavior 1 (Behavior 2 and 3 == <undefined>)
df_2 = df_1[(df['Behavior_2'] == '<undefined>') & (df['Behavior_3'] == '<undefined>')]

# Display the first few rows of the filtered DataFrame
print(df_2.head())

/var/folders/rj/rd7zf_xd73z48_hp9wffw4p80000gn/T/ipykernel_9506/4082944345.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_2 = df_1[(df['Behavior_2'] == '<undefined>') & (df['Behavior_3'] == '<undefined>')]

   DogID  TestNum  t_sec   ABack_x   ABack_y   ABack_z   ANeck_x   ANeck_y  \
0     16        1   0.00  0.041504  0.938965 -0.015137 -0.067871 -0.510254
1     16        1   0.01  0.041992  0.941895 -0.020020 -0.128906 -0.494141
2     16        1   0.02  0.040527  0.939453 -0.004395 -0.158691 -0.480469
3     16        1   0.03  0.021484  0.946289  0.007813 -0.122070 -0.486816
4     16        1   0.04 -0.000977  0.951172  0.033691 -0.053711 -0.500000

    ANeck_z    GBack_x    GBack_y   GBack_z   GNeck_x   GNeck_y    GNeck_z  \
0 -0.934570 -17.639161 -22.766115  7.446290 -7.934571  6.347657  13.427735
1 -0.913086 -15.075685 -11.413575  4.821778 -3.906250  4.394532  16.540528
2 -0.911133 -12.207032  -0.122070  2.807617 -0.488281 -1.953125  26.794435
3 -0.880371  -9.460450   7.995606  1.586914  1.159668 -5.676270  38.085940
4 -0.807129  -8.361817  14.587403 -1.037598  4.577637  4.089356  41.503909

          Task       Behavior_1   Behavior_2   Behavior_3   PointEvent
0  <undefined>      <undefined>  <undefined>  <undefined>  <undefined>
1  <undefined>  Synchronization  <undefined>  <undefined>  <undefined>
2  <undefined>  Synchronization  <undefined>  <undefined>  <undefined>
3  <undefined>  Synchronization  <undefined>  <undefined>  <undefined>
4  <undefined>  Synchronization  <undefined>  <undefined>  <undefined>

In [83]:
# List of columns to delete (unused -- reduce dataset size)
columns_to_delete = ['DogID', 'TestNum', 'ANeck_x', 'ANeck_y', 'ANeck_z', 'GNeck_x', 'GNeck_y', 'GNeck_z', 'Task', 'Behavior_2', 'Behavior_3', 'PointEvent']

# Use the drop() method to remove these columns
df_3 = df_2.drop(columns=columns_to_delete)

# Display the DataFrame to confirm the columns have been removed
print(df_3.head())

   t_sec   ABack_x   ABack_y   ABack_z    GBack_x    GBack_y   GBack_z  \
0   0.00  0.041504  0.938965 -0.015137 -17.639161 -22.766115  7.446290
1   0.01  0.041992  0.941895 -0.020020 -15.075685 -11.413575  4.821778
2   0.02  0.040527  0.939453 -0.004395 -12.207032  -0.122070  2.807617
3   0.03  0.021484  0.946289  0.007813  -9.460450   7.995606  1.586914
4   0.04 -0.000977  0.951172  0.033691  -8.361817  14.587403 -1.037598

        Behavior_1
0      <undefined>
1  Synchronization
2  Synchronization
3  Synchronization
4  Synchronization

In [84]:
behavior_counts = df_3['Behavior_1'].value_counts()
print(behavior_counts)

Behavior_1
<undefined>              2584556
Sniffing                  645223
Trotting                  458105
Walking                   454964
Lying chest               261016
Playing                   237007
Sitting                   166285
Standing                  157067
Pacing                     54373
Drinking                   51971
Shaking                    28421
Synchronization            10350
Panting                     2275
Galloping                   2252
Tugging                      490
Extra_Synchronization        287
Eating                         5
Name: count, dtype: int64

In [85]:
# Define the list of behaviors used in the original analysis
selected_behaviors = ["Galloping", "Lying chest", "Sitting", "Sniffing", "Standing", "Trotting", "Walking"]

# Filter the DataFrame to include only rows with the selected behaviors
df_4 = df_3[df_3['Behavior_1'].isin(selected_behaviors)]

# Display the first few rows of the filtered DataFrame
print(df_4.head())

      t_sec   ABack_x   ABack_y   ABack_z    GBack_x    GBack_y    GBack_z  \
9081  90.81 -0.272949  0.204102  1.185547 -39.489749  62.500004  35.766604
9082  90.82 -0.296875 -0.004883  1.074219 -42.114260  39.794924  44.250491
9083  90.83 -0.248535 -0.142578  0.994141 -41.564944  12.878419  59.997562
9084  90.84 -0.170898 -0.216797  0.927246 -34.240725 -14.099122  75.866704
9085  90.85 -0.084473 -0.226563  0.871094 -23.376466 -31.494143  91.247564

     Behavior_1
9081    Walking
9082    Walking
9083    Walking
9084    Walking
9085    Walking

In [86]:
behavior_counts = df_4['Behavior_1'].value_counts()
print(behavior_counts)

Behavior_1
Sniffing       645223
Trotting       458105
Walking        454964
Lying chest    261016
Sitting        166285
Standing       157067
Galloping        2252
Name: count, dtype: int64

In [101]:
# Round all numerical columns to the specified number of decimal places
df_rounded = df_4.copy()  # Create a copy to preserve the original DataFrame
# Round to X decimal places
df_rounded = df_rounded.round(3)

In [102]:
df_rounded.head()

      t_sec  ABack_x  ABack_y  ABack_z  GBack_x  GBack_y  GBack_z Behavior_1
9081  90.81   -0.273    0.204    1.186  -39.490   62.500   35.767    Walking
9082  90.82   -0.297   -0.005    1.074  -42.114   39.795   44.250    Walking
9083  90.83   -0.249   -0.143    0.994  -41.565   12.878   59.998    Walking
9084  90.84   -0.171   -0.217    0.927  -34.241  -14.099   75.867    Walking
9085  90.85   -0.084   -0.227    0.871  -23.376  -31.494   91.248    Walking

In [117]:
# Perform random sampling based on fraction
df_sampled = df_rounded.sample(frac=0.82, random_state=42)  # random_state for reproducibility

In [118]:
# Export the filtered DataFrame to a CSV file
df_sampled.to_csv('ManipulatedDogMoveData.csv', index=False)

print("DataFrame exported successfully")

DataFrame exported successfully

In [94]:
# Convert float64 columns to float32
float_columns = df_rounded.select_dtypes(include=['float64']).columns
df_rounded[float_columns] = df_rounded[float_columns].astype('float32')

In [75]:
df_rounded.dtypes

t_sec         float32
ABack_x       float32
ABack_y       float32
ABack_z       float32
GBack_x       float32
GBack_y       float32
GBack_z       float32
Behavior_1     object
dtype: object